
body{
    background-repeat: no-repeat;
}
#image{
  margin-left: 400px;
  width:100px;
  height:100px;
}

.boxed {
  position:absolute;
    margin-left: 520px;
    margin-top: 70px;
    width: 350px;
    height:240px;
    
    border: 1px solid #9ACD32 ;
    background-color: #9ACD32;
    border-radius: 10px;
  }
  #operations{
  margin-left: 120px;
  }

  .tab{margin-left:120px;}
  .btn{
    
    margin-left: 60px;
    margin-top: 20px;
  }
  #operation{
    width:250%;
   
    margin-top: 20px;
    margin-left: 110px;
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff;/* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
  }
  
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #818181;
    display: block;
    transition: 0.3s;
    color:#ffffff;
    background:#a95858;
    color: #823f3f;
   
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initia;
    padding: 10px 40px;
    display: block;
    color: #823f3f;
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
     background-color: #823f3f;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .container {
    
    margin-left: 520px;
    margin-top: 150px;
  
    
    border: 1px solid #9ACD32 ;
    background-color: #9ACD32;
    border-radius: 10px;
  }
  
  .image {
    display: block;
    width: 10%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
 #displayBal{
  margin-left: 0px;
  }
