.split {
  height: 75%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top:80px;
  margin-bottom:100px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
  font-size:28px;
  font-color:black;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #cca4a4ab;
   font-size:28px;
    font-color:black;
}
.left a{
	color:black;
	
}
.right a{
	color:black;
		 
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 200px;
 
}
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}