 body{
  background-repeat: no-repeat;
  blur:0.3;
  }

.form{
background: rgb(15, 138, 129); width:358px; margin:0 auto; padding-left:7px; padding-top:20px;margin-top:100px; 
}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }

.form input[type="tel"] { width: 171px; }

.forminput[type="password"] { width: 400px; }

.form label { color: #ffffff; font-weight:bold;font-size: 12px;font-family:Arial,Helvetica;margin-left:84px; }
.form h3 { color: #ffffff; font-weight:bold;font-family:Arial, Helvetica; text-align:center }
.form input, textarea { background-color: rgba(255, 255, 255, 1); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; margin-left:87px;}

.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
 
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .city {
  width:410px;
  }

.form input.button{ background: #ba8c25; margin-left:150px;display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}

.form input.button:hover    { background-color: #2a78f6; }

.footer {
    width: 100%;
    background-color: #a95858;
    color: black;
    text-align: center;
    padding: 1px 0;
    font-family: sans-serif;
}
   
 body{
  background-repeat: no-repeat;
  blur:0.3;
  }

.form{
background: rgb(146, 170, 223); width:358px; margin:0 auto; padding-left:7px; padding-top:20px;margin-top:100px; 
}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }

.form input[type="tel"] { width: 150px; }

.forminput[type="password"] { width: 400px; }

.form label { color: #000000; font-weight:bold;font-size: 16px;font-family:Arial,Helvetica;margin-left:84px; }
.form h3 { color: #000000; font-weight:bold;font-family:Arial, Helvetica; text-align:center }
.form input, textarea { background-color: rgba(255, 255, 255, 1); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; margin-left:80pxpx;}

.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
 
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .city {
  width:410px;
  }

.form input.button{ background: #c0c0c0; margin-left:150px;display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}

.form input.button:hover    { background-color: #2a78f6; }

.footer {
    width: 100%;
    background-color: #a95858;
    color: black;
    text-align: center;
    padding: 1px 0;
    font-family: sans-serif;
}

.right-img-area{
	float:right;
	margin-top: -30.5%;
}
   
 .image{
 height: 440px;
    width: 420px;
 }
 .left-img-area{
 width: 85px;
    height: 17px;
    }